<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="JobInfoSBAction" type="SCSSdkClient.Demo.CustomSettingsSection, SCSSdkClient" />
		<section name="FerryEventSBAction" type="SCSSdkClient.Demo.CustomSettingsSection, SCSSdkClient" />
		<section name="FinedEventSBAction" type="SCSSdkClient.Demo.CustomSettingsSection, SCSSdkClient" />
		<section name="JobCancelledSBAction" type="SCSSdkClient.Demo.CustomSettingsSection, SCSSdkClient" />
		<section name="JobDeliveredSBAction" type="SCSSdkClient.Demo.CustomSettingsSection, SCSSdkClient" />
		<section name="TollgateEventSBAction" type="SCSSdkClient.Demo.CustomSettingsSection, SCSSdkClient" />
		<section name="TrainEventSBAction" type="SCSSdkClient.Demo.CustomSettingsSection, SCSSdkClient" />
		<section name="RefuelEventSBAction" type="SCSSdkClient.Demo.CustomSettingsSection, SCSSdkClient" />
	</configSections>
	<JobInfoSBAction id="2fb96e1d-c7db-424d-8082-4208c74b6868" name="Job" />
	<JobInfoSBAction1>
		<add key="id" value="2fb96e1d-c7db-424d-8082-4208c74b6868" />
		<add key="name" value="Job" />
	</JobInfoSBAction1>
	<FerryEventSBAction>
		<add key="id" value="5b647f19-a79a-40f3-8d7e-a68152cb7f9a" />
		<add key="name" value="FerryEvent" />
	</FerryEventSBAction>
	<FinedEventSBAction>
		<add key="id" value="4eca0dfc-3c19-40ae-b6e0-3c936fe71ef7" />
		<add key="name" value="FinedEvent" />
	</FinedEventSBAction>
	<JobCancelledSBAction>
		<add key="id" value="8eea589f-b513-4499-8602-40b914f8c749" />
		<add key="name" value="JobCancelled" />
	</JobCancelledSBAction>
	<JobDeliveredSBAction>
		<add key="id" value="d9aee73d-c46c-4e7e-99a7-b9dda5c698cc" />
		<add key="name" value="JobDelivered" />
	</JobDeliveredSBAction>
	<TollgateEventSBAction>
		<add key="id" value="7196bf3f-b53d-4cc3-8242-6c9f98d02f8c" />
		<add key="name" value="TollgateEvent" />
	</TollgateEventSBAction>
	<TrainEventSBAction>
		<add key="id" value="4f24d6ab-0712-482e-80c0-4ace8a693a4b" />
		<add key="name" value="TrainEvent" />
	</TrainEventSBAction>
	<RefuelEventSBAction>
		<add key="id" value="b63b68cd-5a3a-46f8-a08f-ef276c84e500" />
		<add key="name" value="RefuelEvent" />
	</RefuelEventSBAction>
</configuration>